@import "tailwindcss";

@theme inline {
  --color-brand-dark: #050505;
  --color-brand-gray: #121212;
  --color-brand-gold: #C6A87C;
  --color-brand-gold-hover: #D4B68A;
  
  --font-serif: var(--font-serif);
  --font-sans: var(--font-sans);
}

/* Custom Utilities if needed */
.text-gradient {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to right, var(--color-brand-gold), #FDF0D5);
}

body {
  background-color: var(--color-brand-dark);
  color: white;
}
